@media screen and (max-width: 1229px) {

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 1120px) {
    .info {
        width: auto;
    }
}

@media screen and (max-width: 1035px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .interact {
        order: 1;
        max-width: 420px;
    }
    .main_image {
        order: 2;
    }
    .adiitional_image {
        order: 3;
    }
    .weights {
        order: 4;
    }
    .description_block{
        padding: 30px 50px;
    }
}

@media screen and (max-width: 750px)  {
    .categories {
        display: none;
    }
    .menu {
        display: block;
    }
    .categories.active {
        display: block;
    }
    .back.active {
        display: flex;
    }
    .menu.active {
        position: fixed;
        fill: white;
    }
}

@media screen and (max-width: 470px) {
    .title {
        font-size: 26px;
    }
    .content {
        margin-top: 10px;
    }
    .main_image {
        width: 300px;
        height: 300px;
    }
    .weights {
        margin-top: 10px;
    }
    .description {
        margin-top: 20px;
    }
    .description_main {
        padding: 15px 0;
    }
    .description_block {
        padding: 10px 20px;
    }
}

@media screen and (max-width: 375px) {
    .list {
        max-width: 250px;
    }
}